.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.playArea {
  display: flex;
  align-items: flex-start;
}

.wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  background-color: hwb(135deg 9% 55%);
}

.counts {
  display: flex;
  gap: 12px;
  margin-left: 20px;
}

.countBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 48px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}

.countBoxBlack {
  color: #fff;
  background: linear-gradient(135deg, #444, #000);
}

.countBoxWhite {
  color: #333;
  background: linear-gradient(135deg, #fff, #ddd);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 3px solid #000;
}

.stone {
  display: block;
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 50%;
}
